*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
  }
  .body6{
    height: 100vh;
    background-color: #f8f8f8;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .container6{
    width: 450px;
    height: 80vh;
    display: flex;
    flex-direction: column;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.4);
    background-color: rgb(54, 187, 171);
  }
  .header6 h1{
    color: white;
    padding: 15px;
  }
  .body6{
    flex: 1;
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
  }
  .message6{
    background-color: rgb(54, 187, 171);
    padding: 10px;
    color: white;
    width: fit-content;
    border-radius: 10px;
    margin-bottom: 15px;
    margin: 30px;
    margin-bottom: 300px;
  }
  .user_message6 {
    background-color: rgb(54, 187, 171);
    padding: 10px;
    color: white;
    width: fit-content;
    border-radius: 10px;
    margin-bottom: 15px;
    margin: 30px;
    margin-bottom: 200px;

    margin-left: auto;
    background-color: white;
    color: black;
  }
  .footer6 form {
    display: flex;
  }
  .form6 input {
    flex: 1;
    height: 40px;
    border: none ;
    outline: none;
    padding-left: 5px;
    font-size: 16px;
  }
  .form6 button {
    width: 100px;
    font-size: 18px;
    border: none;
    background-color: rgb(54, 187, 171);
    color: white;
    cursor: pointer;
  }
  .form6 button:hover {
    background-color: rgb(28, 130, 130);
    transition: 0.2s ease;
  }